<!-- <router-outlet></router-outlet> -->
<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <form role="form"  [formGroup]="buginfoform" (ngSubmit)="onSubmitted()">
            <!-- {{buginfoform.value | json}}
            <hr>
            {{buginfo | json}} -->
            <app-personal-info (formReady)="formInitialized('personal', $event)"></app-personal-info>
            <app-bug-info (formReady)="formInitialized('bug', $event)"></app-bug-info>
            <app-footer></app-footer>
        </form>
    </div>
  </div>
</div>
<ng-template [ngIf]="status">
    <div class="warp-page">
        <h3>Bug Information</h3>
        <table class="table">
            <tr *ngFor="let val of mapped "> 
                <td>{{val.type}}</td> 
                <td>{{val.value}}</td> 
            </tr>
        </table>
        <!-- {{buginfo | json}} -->
    </div>
</ng-template>
